body {
  background-color: #5c5c5c;
  color: white;
}

#content {
  max-width: 600px;
}

#image-container {
  text-align: center;
}

#logo {
  margin: 5% 50% -10% 0%;
  width: 40%;
}

#alison {
  width: 100%;
}

#app-store-button {
  width: 250px;
  margin: 5% 0%;
}

.screenshot {
  width: 80%;
}

@media screen and (max-width: 767px) {
  #logo {
    margin: 5% 0%;
    width: 70%;
  }

  .screenshot {
    width: 90%;
  }
}
