<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Antisocial Alison – an iMessage sticker pack for all your antisocial needs</title>
  <meta name="description" content="Meet Alison: a moody girl here to express all your antisocial needs in the form of an iMessages sticker pack.">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#834ba3">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@AdrianaBeMN" />
  <meta name="twitter:creator" content="@AdrianaBeMN" />
  <meta property="og:url" content="https://antisocialalison.com" />
  <meta property="og:title" content="Antisocial Alison – an iMessage sticker pack for all your antisocial needs" />
  <meta property="og:description" content="Meet Alison: a moody girl here to express all your antisocial needs in the form of an iMessages sticker pack." />
  <meta property="og:image" content="https://antisocialalison.com/media/antisocial-alison-screenshot-iphone-xs-max.jpg" />
</head>
